#container_buttons_create {
    display: flex;
}

.container_all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_white_escaperoom_create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 90vh;
    height: 70vh;
    margin: 2vh;
    border-radius: 8px;
}

H2 {
    display: flex;
    justify-content: center;
}

.container_orange_escaperoom_create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff4702;
    width: 100vh;
    height: 60vh;
    margin: 2vh;
    border-radius: 8px;
}

#text_enviar {
    font-size: 3vh;
    color: #ff4702;
}

.form-group {
    margin: 1vh;
}

#text_back {
    color: #ff4702;
}

#button_back {
    margin-bottom: 1vh;
}