.container_home {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY8HR-DzuTxhmbYQ-vnS5v0DJYc43czHXSSw&usqp=CAU");
    background-size:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container_message_welcome {
    width: 70vh;
    height: 80vh;
    border-radius: 10px;
    background-color: black;
    opacity: 0.7;
  }
  .logo_f5 {
    height: 20vh;
    width: 40vh;
  }
  #message {
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 13vh;
  }
  #button_home{
    margin:3vh ;
    width: 30vh;
    height: 6vh;
    border-radius: 10px;
    background-color: black;
      opacity: 0.7;
    
  }
  #word_button{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin: 1vh;
  }