
    .container_admin_options {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      
      #container_title {
        display: flex;
        justify-content: center;
        width: 70vh;
        height: 13vh;
        border-radius: 10px;
        background-color: black;
        color: #ff4702;
      }
      @media (max-width:600px) {
        #container_title{
          display: flex;
          justify-content: center;
          width: 50vh;
          height: 13vh;
          border-radius: 10px;
          background-color: black;
          color: #ff4702;
        }
      }
      p {
        margin-top: 3vh;
        font-size: 4vh;
      }
      @media (max-width: 400px) {
        p {
         margin-left: 3vh;
        }
      }
      h2 {
        color:black;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 5vh;
      }
      @media (max-width: 1200px){
        h2{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 5vh;
        }
      }
      .container_options {
        display: flex;
        margin-top: 10vh;
        gap: 5vh;
      }

      @media (max-width: 1800px) {
        .container_options {
            display: flex;
           margin-top: 10vh;
            gap: 2vh;
          }

      }
      @media (max-width: 1120px){
        .container_options {
          display: flex;
          flex-direction: column;
         margin-top: 10vh;
          gap: 2vh;
        }
      }
      #container_scaperooms {
        width: 30vh;
        height: 20vh;
        background-color: #fff;
        border: orangered solid;
        border-radius: 10px;
      }
      #container_pruebasLogica {
        width: 30vh;
        height: 20vh;
        background-color: #fff;
        border: orangered solid;
        border-radius: 10px;
      }
      #container_pruebasCodigo {
        width: 30vh;
        height: 20vh;
        background-color: #fff;
        border: orangered solid;
        border-radius: 10px;
      }
      #container_listadoCandidatos {
        width: 30vh;
        height: 20vh;
        background-color: #fff;
        border: orangered solid;
        border-radius: 10px;
      }
      #container_listadoCandidatosPruebaCompletada {
        width: 30vh;
        height: 20vh;
        background-color: #fff;
        border: orangered solid;
        border-radius: 10px;
      }